* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --faded: gray;
  --active: white;
  --small-gap: 0.5rem;
  --normal-gap: 1rem;
}

.app {
  display: flex;
}

.app__left {
  flex: 0.35;
}

.app__main {
  flex: 0.65;
}
