.sidebarOption {
  display: flex;
  gap: 1rem;
}
/* not correct */
.sidebarOption > .MuiSvgIcon-root {
  color: #d7d8da;
  object-fit: contain;
  height: 1.8rem !important;
}
.sidebarOption:hover > * {
  color: white;
}

.sidebarOption > p {
  font-weight: 700;
  color: gray;
}
